doctype html
html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    body
        .col(style="height: 280px")           
            each theme in themeList
                //.card(style='width: 18rem;') 
                    img.card-img-top(src="assets/images/Authors/"+author.fullName+".jpg", alt= '...')
                .card-body
                    h3.card-title
                        a.text-decoration-none(href="/books/booksByTheme/" + theme.theme) #{theme.theme}